@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/colorful-ring-object.png);
    background-position: 59em 17em;
    background-repeat: no-repeat;
    background-size: 54em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*----------------HEADER with HERO Section----------------------------------*/
header{
    height: 2em;
    background-color: #013b53;
}

.hero{
    display: flex;
    margin: 3em 0;
    height: 70%;
}

.hero .hero__title{
    width: 70%;
    border-right: 5px solid #f6f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title__wrapper{
    display: inline-block;
}

.hero .hero__title span{
    font-weight: 600;
    font-size: 4rem;
    display: block;
    color: #21637e;
    text-transform: uppercase;
}

.hero .hero__logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero .hero__logo img{
    width: 25em;
}

/*----------------Buttons----------------------------------*/

.buttons .btns{
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 1.5em;
    border-right: 50px solid transparent;
    display: inline-block;
}

.buttons .buttons__wrapper{
    width: 380px;
    border-top: 50px solid #013b53;
    margin: 1em 0 0 9em;
}

.buttons i{
    position: absolute;
    top: -35px;
    color: #4eb7ba;
    font-size: 1.5em;
}

.buttons i.fa-envelope{
    position: absolute;
    top: -35px;
    color: #013b53;
    background-color: transparent;
}

.buttons a{ 
    display: inline-block;
    position: absolute;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    top: -35px;
    left: 4em;
}

.buttons .buttons__wrapper__second{
    width: 310px;
    border-top: 50px solid #4eb7ba;
    margin: -1.5em 0 0 9em;
}

.arrow-down{
    position: relative;
    left: -17.9em;
    top: -1.5em;
    display: inline-block;
    border-top: 18px solid transparent;
    border-left: 18px solid #4eb7ba;
    transform: rotate(-45deg);
}

.horizontal_dotted_line{
    position: relative;
    margin: 25vh auto;
    width: 98%;
    border-top: 0.5em dashed #e99d9f;
}

/*-------------------------FORM-----------------------------------*/

